/* Reset deafault browser spacing*/
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(9, 240, 155);
}

/*Header*/
header{
    background-color: rgb(35, 222, 197);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

/*Navigation*/
nav{
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: azure;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content*/
main{
    padding: 20px;
}

/* Sections*/
section {
    background-color: antiquewhite;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Products*/
.product{
    border: 1px solid cornsilk;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Footer*/
footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}